/*
	@name desktop___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__desktop___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#image_6 {
	top: -546px;
	left: -629px;
	width: 53px;
	height: 53px;
}


#rectangle_5 {
	top: -386px;
	left: 255px;
	width: 466px;
	height: 641px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(217,217,217,1);
}


#plant_eco_printmakers_1 {
	top: -578px;
	left: -367px;
	width: 588px;
	height: 1024px;
}


#greenhouse {
	top: -105px;
	left: -701px;
	width: 623px;
	height: 135px;
	overflow: hidden;
	
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	transform:rotate(-90deg);
	font-family: Outfit;
	font-size: 80px;
	font-weight: bold;
	text-align: left;
	color:#221E1E;
}


#labanda {
	top: -531px;
	left: -566px;
	width: 129px;
	height: 39px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#estado {
	top: -378px;
	left: 412px;
	width: 201.5px;
	height: 74.5px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 45px;
	text-align: left;
	color:#161515;
}


#rectangle_1 {
	top: -262px;
	left: 270px;
	width: 435px;
	height: 102px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(217,217,217,1);
}


#rectangle_4 {
	top: 131px;
	left: 270px;
	width: 435px;
	height: 102px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(245,240,222,1);
}


#rectangle_3 {
	top: 0px;
	left: 270px;
	width: 435px;
	height: 102px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(245,240,222,1);
}


#rectangle_2 {
	top: -131px;
	left: 270px;
	width: 435px;
	height: 102px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(245,240,222,1);
}


#humedad_del_suelo {
	top: -124px;
	left: 282px;
	width: 282px;
	height: 38px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#luz_ambiental {
	top: 137px;
	left: 282px;
	width: 282px;
	height: 38px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#_4095 {
	top: 182px;
	left: 355px;
	width: 158px;
	height: 38px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#_30_44 {
	top: -208px;
	left: 355px;
	width: 158px;
	height: 38px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#_3551 {
	top: -76px;
	left: 355px;
	width: 158px;
	height: 38px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#_11_39 {
	top: 56px;
	left: 355px;
	width: 158px;
	height: 38px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#litros_de_agua {
	top: 7px;
	left: 282px;
	width: 282px;
	height: 38px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#temperatura_ambiental {
	top: -254px;
	left: 282px;
	width: 347px;
	height: 38px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#aqui_podras_observar_los_datos_de_los_sensores_que_estan_conectados_en_el_invernadero_ {
	top: -321px;
	left: 267px;
	width: 450px;
	height: 57px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 20px;
	text-align: justified;
	color:#161515;
}


#image_1 {
	top: -89px;
	left: 282px;
	width: 46px;
	height: 46px;
}


#image_2 {
	top: -221px;
	left: 282px;
	width: 46px;
	height: 46px;
}


#image_3 {
	top: 170px;
	left: 282px;
	width: 46px;
	height: 46px;
}


#image_4 {
	top: 44px;
	left: 282px;
	width: 46px;
	height: 46px;
}

#group_1 {
	top: -530px;
	left: 255px;
	width: 45px;
	height: 19px;
}

#line_2 {
	top: 10px;
	left: 0px;
	width: 45px;
	height: 0px;
}


#line_3 {
	top: 19px;
	left: 27px;
	width: 18px;
	height: 0px;
}


#line_4 {
	top: 0px;
	left: 0px;
	width: 18px;
	height: 0px;
}



/* Add your custom CSS here */
