/*
	@name desktop___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__desktop___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:#F4F5F7;
	background: -webkit-linear-gradient(-270deg , rgba(220,36,36,1) 0%, rgba(74,86,157,1) 100%);
	background: -o-linear-gradient(-270deg , rgba(220,36,36,1) 0%, rgba(74,86,157,1) 100%);
	background: -moz-linear-gradient(-270deg , rgba(220,36,36,1) 0%, rgba(74,86,157,1) 100%);
	background: -ms-linear-gradient(-270deg , rgba(220,36,36,1) 0%, rgba(74,86,157,1) 100%);
	background: linear-gradient(-270deg , rgba(220,36,36,1) 0%, rgba(74,86,157,1) 100%);
}


#rectangle_2 {
	top: 250px;
	left: 47px;
	width: 343px;
	height: 240px;
	-ms-border-radius: 46px;
	-o-border-radius: 46px;
	-moz-border-radius: 46px;
	-webkit-border-radius: 46px;
	border-radius: 46px;
	background:rgba(244,245,247,1);
}


#rectangle_4 {
	top: 250px;
	left: 939px;
	width: 343px;
	height: 240px;
	-ms-border-radius: 46px;
	-o-border-radius: 46px;
	-moz-border-radius: 46px;
	-webkit-border-radius: 46px;
	border-radius: 46px;
	background:rgba(244,245,247,1);
}


#rectangle_6 {
	top: 611px;
	left: 939px;
	width: 343px;
	height: 240px;
	-ms-border-radius: 46px;
	-o-border-radius: 46px;
	-moz-border-radius: 46px;
	-webkit-border-radius: 46px;
	border-radius: 46px;
	background:rgba(244,245,247,1);
}


#rectangle_3 {
	top: 611px;
	left: 47px;
	width: 343px;
	height: 240px;
	-ms-border-radius: 46px;
	-o-border-radius: 46px;
	-moz-border-radius: 46px;
	-webkit-border-radius: 46px;
	border-radius: 46px;
	background:rgba(244,245,247,1);
}


#rectangle_1 {
	top: 531px;
	left: 34px;
	width: 241px;
	height: 183px;
	-ms-border-radius: 45px;
	-o-border-radius: 45px;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
	background:rgba(255,255,255,0);
}


#sensores {
	top: 72px;
	left: 300px;
	width: 856px;
	height: 153px;
	overflow: hidden;
	font-family: Inter;
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	line-height: 98px;
	-webkit-text-stroke-width: px;
	-webkit-text-stroke-color: #fff;
	background-image: linear-gradient(-270deg , rgba(221,214,243,1) 0%, rgba(250,172,168,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color:#000000;
}

#subtitle_2 {
	top: 623px;
	left: 104px;
	width: 229px;
	height: 32px;
}

#headings___h6 {
	top: 0px;
	left: 0px;
	width: 337px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#18191F;
}

#subtitle_11 {
	top: 676px;
	left: 57px;
	width: 163px;
	height: 32px;
}

#headings___h6_ek1 {
	top: 0px;
	left: 0px;
	width: 272px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#18191F;
}

#subtitle_9 {
	top: 676px;
	left: 1056px;
	width: 55px;
	height: 24px;
}

#headings___h6_ek2 {
	top: 614px;
	left: 1073px;
	width: 135px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#18191F;
}


#headings___h6_ek3 {
	top: 655px;
	left: 955px;
	width: 193px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#18191F;
}

#subtitle_3 {
	top: 437px;
	left: 881px;
	width: 148px;
	height: 24px;
}

#headings___h6_ek4 {
	top: 251px;
	left: 1019px;
	width: 255px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#18191F;
}


#headings___h6_ek5 {
	top: 292px;
	left: 955px;
	width: 171px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#18191F;
}

#subtitle_6 {
	top: 324px;
	left: 1019px;
	width: 156px;
	height: 24px;
}
#subtitle_4 {
	top: 260px;
	left: 109px;
	width: 249px;
	height: 64px;
}

#headings___h6_ek6 {
	top: 0px;
	left: 0px;
	width: 272px;
	height: 77px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 95px;
	color:#18191F;
}

#subtitle_10 {
	top: 328px;
	left: 57px;
	width: 249px;
	height: 32px;
}

#headings___h6_ek7 {
	top: 0px;
	left: 0px;
	width: 272px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	line-height: 32px;
	margin-top: -4.6666666666667px;
	height: 63px;
	color:#18191F;
}


#sensores_utilizados_para_la_automatizaci_n_del_invernadero_ {
	top: 162px;
	left: 558px;
	width: 316px;
	height: 58px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 28px;
	margin-top: -3.3333333333333px;
	height: 76px;
	-webkit-text-stroke-width: px;
	-webkit-text-stroke-color: #ffff;
	background-image: linear-gradient(-270deg , rgba(221,214,243,1) 0%, rgba(250,172,168,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color:#000000;
}

#header___1 {
	top: -2px;
	left: -14px;
	width: 1440px;
	height: 72px;
}

#bg {
	top: 10px;
	left: 71px;
	width: 1335px;
	height: 53px;
	-ms-box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	-o-box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	-webkit-box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	-moz-box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	background:rgba(244,245,247,1);
}

#right_nav {
	top: 16px;
	left: 1093px;
	width: 182px;
	height: 40px;
}
#button {
	top: 0px;
	left: 0px;
	width: 77px;
	height: 40px;
}

#login {
	top: 10px;
	left: 18px;
	width: 49px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	color:#18191F;
}

#button_ek1 {
	top: 0px;
	left: 91px;
	width: 91px;
	height: 40px;
}

#sign_up {
	top: 10px;
	left: 18px;
	width: 63px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	color:#000000;
}

#left_nav {
	top: 26px;
	left: 165px;
	width: 535px;
	height: 20px;
}
#nav_items {
	top: 0px;
	left: 0px;
	width: 535px;
	height: 20px;
}
#header_menu___default {
	top: 1px;
	left: 0px;
	width: 144px;
	height: 18px;
}

#label {
	top: 0px;
	left: 0px;
	width: 163px;
	height: 28px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	line-height: 18px;
	letter-spacing: 1px;
	color:#18191F;
}

#menu_item___default {
	top: 0px;
	left: 176px;
	width: 63px;
	height: 20px;
}

#label_ek1 {
	top: 0px;
	left: 0px;
	width: 82px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#menu_item___default_ek1 {
	top: 0px;
	left: 271px;
	width: 47px;
	height: 20px;
}

#label_ek2 {
	top: 0px;
	left: 0px;
	width: 66px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#menu_item___default_ek2 {
	top: 0px;
	left: 350px;
	width: 31px;
	height: 20px;
}

#label_ek3 {
	top: 0px;
	left: 0px;
	width: 50px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#menu_item___default_ek3 {
	top: 0px;
	left: 413px;
	width: 33px;
	height: 20px;
}

#label_ek4 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#header_menu___dropdown {
	top: 0px;
	left: 478px;
	width: 57px;
	height: 20px;
}

#label_ek5 {
	top: 0px;
	left: 0px;
	width: 54px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#essential_icons___chevron_down {
	top: 2px;
	left: 39px;
	width: 18px;
	height: 18px;
}

#vector {
	top: 6px !important;
	position: absolute !important;
	left: 3.75px;
	width: 10.5px;
	height: 6px;
	background:url(skins/vector.png);
	background-size:cover;
}

#header___2 {
	top: -2px;
	left: -14px;
	width: 1440px;
	height: 72px;
}

#bg_ek1 {
	top: 10px;
	left: 71px;
	width: 1335px;
	height: 53px;
	-ms-box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	-o-box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	-webkit-box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	-moz-box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	box-shadow:0px 1px 0px 1px rgba(229,233,242,1);
	background:rgba(244,245,247,1);
}

#right_nav_ek1 {
	top: 16px;
	left: 1093px;
	width: 182px;
	height: 40px;
}
#button_ek2 {
	top: 0px;
	left: 0px;
	width: 77px;
	height: 40px;
}

#login_ek1 {
	top: 10px;
	left: 18px;
	width: 49px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	color:#18191F;
}

#button_ek3 {
	top: 0px;
	left: 91px;
	width: 91px;
	height: 40px;
}

#sign_up_ek1 {
	top: 10px;
	left: 18px;
	width: 63px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	color:#202227;
}

#left_nav_ek1 {
	top: 26px;
	left: 165px;
	width: 535px;
	height: 20px;
}
#nav_items_ek1 {
	top: 0px;
	left: 0px;
	width: 535px;
	height: 20px;
}
#header_menu___default_ek1 {
	top: 1px;
	left: 0px;
	width: 144px;
	height: 18px;
}

#label_ek6 {
	top: 0px;
	left: 0px;
	width: 163px;
	height: 28px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	line-height: 18px;
	letter-spacing: 1px;
	color:#18191F;
}

#menu_item___default_ek4 {
	top: 0px;
	left: 176px;
	width: 63px;
	height: 20px;
}

#label_ek7 {
	top: 0px;
	left: 0px;
	width: 82px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#menu_item___default_ek5 {
	top: 0px;
	left: 271px;
	width: 47px;
	height: 20px;
}

#label_ek8 {
	top: 0px;
	left: 0px;
	width: 66px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#menu_item___default_ek6 {
	top: 0px;
	left: 350px;
	width: 31px;
	height: 20px;
}

#label_ek9 {
	top: 0px;
	left: 0px;
	width: 50px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#menu_item___default_ek7 {
	top: 0px;
	left: 413px;
	width: 33px;
	height: 20px;
}

#label_ek10 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#header_menu___dropdown_ek1 {
	top: 0px;
	left: 478px;
	width: 57px;
	height: 20px;
}

#label_ek11 {
	top: 0px;
	left: 0px;
	width: 54px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	color:#18191F;
}

#essential_icons___chevron_down_ek1 {
	top: 2px;
	left: 39px;
	width: 18px;
	height: 18px;
}

#vector_ek1 {
	top: 6px !important;
	position: absolute !important;
	left: 3.75px;
	width: 10.5px;
	height: 6px;
	background:url(skins/vector_ek1.png);
	background-size:cover;
}

#footer___mini___5 {
	top: 459px;
	left: -760px;
	width: 1440px;
	height: 72px;
}
#social_links {
	top: 24px;
	left: 1131px;
	width: 144px;
	height: 24px;
}
#social_icons {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#bg_ek2 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 24px;
	height: 24px;
	background:url(skins/bg_ek2.png);
	background-size:cover;
}


#path {
	top: 5.6px !important;
	position: absolute !important;
	left: 5.6px;
	width: 12.8px;
	height: 12.8px;
	background:url(skins/path.png);
	background-size:cover;
}

#social_icons_ek1 {
	top: 0px;
	left: 40px;
	width: 24px;
	height: 24px;
}

#bg_ek3 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 24px;
	height: 24px;
	background:url(skins/bg_ek3.png);
	background-size:cover;
}


#path_ek1 {
	top: 5.6px !important;
	position: absolute !important;
	left: 5.6px;
	width: 12.8px;
	height: 12.78px;
	background:url(skins/path_ek1.png);
	background-size:cover;
}

#social_icons_ek2 {
	top: 0px;
	left: 80px;
	width: 24px;
	height: 24px;
}

#bg_ek4 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 24px;
	height: 24px;
	background:url(skins/bg_ek4.png);
	background-size:cover;
}


#path_ek2 {
	top: 7.2px !important;
	position: absolute !important;
	left: 6px;
	width: 11.62px;
	height: 9.6px;
	background:url(skins/path_ek2.png);
	background-size:cover;
}

#social_icons_ek3 {
	top: 0px;
	left: 120px;
	width: 24px;
	height: 24px;
}

#bg_ek5 {
	top: 0px !important;
	position: absolute !important;
	left: 0px;
	width: 24px;
	height: 24px;
	background:url(skins/bg_ek5.png);
	background-size:cover;
}


#path_ek3 {
	top: 7.6px !important;
	position: absolute !important;
	left: 5.6px;
	width: 12.8px;
	height: 9.2px;
	background:url(skins/path_ek3.png);
	background-size:cover;
}



/* Add your custom CSS here */
