/*
	@name homepage
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1447px; width: 1447px; height: 993px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__homepage {
	top: 0px;
	left: 0px;
	width: 1447px;
	height: 993px;
	background:rgba(255,255,255,1);
}

#group_7 {
	top: 31px;
	left: 27px;
	width: 163px;
	height: 53px;
}

#image_6 {
	top: 0px;
	left: 0px;
	width: 53px;
	height: 53px;
}


#textlabanda {
	top: 15px;
	left: 63px;
	width: 129px;
	height: 39px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#textgreenhouse {
	top: 474px;
	left: -89px;
	width: 623px;
	height: 135px;
	overflow: hidden;
	
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	transform:rotate(-90deg);
	font-family: Outfit;
	font-size: 80px;
	font-weight: bold;
	text-align: left;
	color:#221E1E;
}

#group_1 {
	top: 47px;
	left: 862px;
	width: 45px;
	height: 19px;
}

#line_2 {
	top: 10px;
	left: 0px;
	width: 45px;
	height: 0px;
}


#line_3 {
	top: 19px;
	left: 27px;
	width: 18px;
	height: 0px;
}


#line_4 {
	top: 0px;
	left: 0px;
	width: 18px;
	height: 0px;
}


#imageplant {
	top: 166px;
	left: 336px;
	width: 436px;
	height: 827px;
}

#framedatos {
	top: 187px;
	left: 889px;
	width: 466px;
	height: 652px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(108, 183, 107, 1);
}
#groupluzambiental {
	top: 537px;
	left: 17px;
	width: 434px;
	height: 102px;
}

#rectangle_4 {
	top: 0px;
	left: 0px;
	width: 434px;
	height: 102px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(245,240,222,1);
}


#text10 {
	top: 17px;
	left: 85px;
	width: 182px;
	height: 60px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#text9 {
	top: 51px;
	left: 85px;
	width: 88px;
	height: 60px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#image_3 {
	top: 28px;
	left: 20px;
	width: 46px;
	height: 46px;
}

#grouplagua {
	top: 406px;
	left: 17px;
	width: 434px;
	height: 102px;
}

#rectangle_3 {
	top: 0px;
	left: 0px;
	width: 434px;
	height: 102px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(245,240,222,1);
}


#text8 {
	top: 56px;
	left: 85px;
	width: 98px;
	height: 60px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#text7 {
	top: 17px;
	left: 85px;
	width: 190px;
	height: 60px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#image_4 {
	top: 28px;
	left: 20px;
	width: 46px;
	height: 46px;
}

#grouphumedad {
	top: 275px;
	left: 17px;
	width: 434px;
	height: 102px;
}

#rectangle_2 {
	top: 0px;
	left: 0px;
	width: 434px;
	height: 102px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(245,240,222,1);
}


#text6 {
	top: 18px;
	left: 85px;
	width: 239px;
	height: 60px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#text5 {
	top: 55px;
	left: 85px;
	width: 88px;
	height: 60px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#image_1 {
	top: 28px;
	left: 20px;
	width: 46px;
	height: 46px;
}

#grouptempambiental {
	top: 144px;
	left: 17px;
	width: 434px;
	height: 102px;
}

#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 434px;
	height: 102px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(245,240,222,1);
}


#text4 {
	top: 54px;
	left: 85px;
	width: 98px;
	height: 60px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#text3 {
	top: 18px;
	left: 85px;
	width: 289px;
	height: 60px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 24px;
	text-align: left;
	color:#161515;
}


#image_2 {
	top: 28px;
	left: 28px;
	width: 30px;
	height: 46px;
}

#groupestado {
	top: 13px;
	left: 17px;
	width: 434px;
	height: 102px;
}

#text2 {
	top: 59px;
	left: -3px;
	width: 449px;
	height: 60px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 20px;
	text-align: justified;
	color:#161515;
}


#text1 {
	top: 0px;
	left: 142px;
	width: 197.5px;
	height: 74.5px;
	overflow: hidden;
	font-family: Outfit;
	font-size: 45px;
	text-align: left;
	color:#161515;
}



/* Add your custom CSS here */
